@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .slide-hover {
    @apply relative overflow-hidden bg-white text-primary
    transition-all before:absolute before:right-0 before:top-0 before:h-12 before:w-6 
    before:translate-x-12 before:rotate-6 before:bg-white before:opacity-10 before:duration-[1500ms]
   hover:bg-primary hover:text-white hover:before:-translate-x-40
    duration-200
  }

  .list {
    @apply list-disc marker:text-gray-300 ml-4 my-4
    w-full text-gray-600
    flex flex-col justify-start items-start gap-y-1;
  }

  .left-aligned-flex {
    @apply p-4 flex flex-col justify-center items-start
  }

  .dynamic-heading {
    @apply text-7xl max-lg:text-6xl max-md:text-5xl
  }

  .dynamic-subheading {
    @apply text-2xl max-md:text-xl
  }

  .dynamic-text {
    @apply text-lg max-md:text-base
  }

  .dynamic-label {
    @apply text-base max-md:text-sm
  }

  .auto-margins {
    @apply mx-auto
    w-[calc(100%-24rem)]
    max-lg:w-[calc(100%-16rem)]
    max-md:w-[calc(100%-8rem)]
    max-sm:w-[calc(100%-4rem)]
  }
}

.clipped-div {
  clip-path: polygon(0 12%, 100% 0, 100% 88%, 0% 100%);
}